body
{
    font-family: 'Roboto', sans-serif;
    background: #F5F5F5;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #212121;
    
}

.header{
background-color: #ECECEC;
}

.logo-web{
text-decoration: none;
font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: #2196F3;
}

.logo-studio{
text-decoration: none;
font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: #000000;
}

.nav{
list-style: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.nav-link{
    color: #212121;
    text-decoration: none;
}

.contacts{
    list-style: none;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-mail, .contact-phone{
    text-decoration: none; 
}
.contact-mail{
color: #2196F3;
}

.contact-phone{
color: #757575; 
}

.hero{
background-color: #2F303A;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.button{
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.subtitle-list{
    list-style: none;
}

.subtitle-item{
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
color: #212121;
}

.subtitle-desc{
font-size: 14px;
line-height: 1.71;
color: #757575;
}

.work, .team {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: #212121;
}

.work-list, .team-list{
    list-style: none;
}

.team-name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
color: #212121;
}

.team-desc{
font-weight: 400px;
font-size: 16px;
line-height: 1.18;
text-align: center;
color: #757575;
}

.address{
    font-style: normal;
    background-color:#2F303A;
}

.contact-address{
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;

}

.footer-contact{
    list-style: none;    

}

.footer-contact-list{
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: inherit;
    color: rgba(255, 255, 255, 0.6);
}



/* Portfolio*/

.portfolio-title{
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
color: #212121;
}

.portfolio-button, .portfolio-works{
    list-style: none;  
}

.portfolio-pagination-1,.portfolio-pagination {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
}

.portfolio-pagination-1 {
color: #FFFFFF;
background-color:#2196F3;
} 

.portfolio-pagination{
color: #212121;
}

.portfolio-mane {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.portfolio-class {
font-size: 16px;
line-height: 1.88;
color: #757575;

}